body {
    font-family: 'Merriweather', serif;
    background-color: #f5deb3;
    overflow: hidden;
    margin: 0px;
}

.centre {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header {
    position: fixed;
    z-index: 2;
    font-size: 5em;
    color: darkred;
    top: 15% !important;
}

#oof-circle {
    z-index: 0;

    position: fixed !important;
    background-color: darkred;
    border-radius: 50%;
    width: 0vmax;
    height: 0vmax;
}

.expand {
    animation: expand-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes expand-anim {
    0% { width: 0vmax; height: 0vmax; opacity: 1; }
    20% { width: 150vmax; height: 150vmax; }
    30% { opacity: 1; }
    100% { width: 0vmax; height: 0vmax; opacity: 0; }
}

#oof-text {
    color: wheat;
    font-size: 20em;
    z-index: 1;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#github-ribbon {
    --ribbon-width: 20em;
    --ribbon-height: 2em;

    position: relative;
    text-align: center;
    font-size: calc(var(--ribbon-height) * 0.5);
    background-color: darkred;
    width: var(--ribbon-width);
    height: var(--ribbon-height);
    left: calc(var(--ribbon-width) * -0.4);
    top: calc(var(--ribbon-height) * 0.5);
    transform: rotate(-45deg) /*translateX(calc(var(--ribbon-width) * -0.5)) translateY(calc(var(--ribbon-width) * 0.5))*/;
    transition: all 0.1s ease-in-out;
}

#github-ribbon:hover {
    transform: rotate(-45deg) scale(1.1);
}

a {
    color: wheat;
    position: relative;
}
